<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <!-- jQuery-->
        <script src="https://code.jquery.com/jquery.min.js"></script>      
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>        
        
        <title>Hello, Django</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'worldapp/site.css' %}" />
    </head>
    <body>
      

        <span class="message">Hello, there {{ name }}!</span> It's {{ date | date:'l, d F, Y' }} at {{ date | time:'H:i:s' }}
        <div class="container-fluid p-2 bg-primary text-white text-center">
            <table>
                <thead>
                    <th>ID2</th>
                    <th>Name</th>
                    <th># Lines</th>
                    <th># Errors</th>
                    <th>Load</th>
                </thead>
                <tbody>
                    {% for world in data %}
                        {% <tr class="table-active"></tr> if world.iid==1 else <tr class="'table-active"> %}
                            <td>{{ world.iid }}</td>
                            <td>{{ world.sname }}</td>
                            <td>{{ world.numlines }}</td>
                            <td>{{ world.numerrors }} <button>Show</button></td>
                            <td><button>Load</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container-fluid p-2 bg-primary text-white text-center">
            <h2>Create New World</h2>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                        <tr>
                            <td><input type="text" class="form-control" id="usr"></td>
                            <td><button>Create</button></td>
                        </tr>
                </tbody>
            </table>
            </div>      
            <script>
                $(document).ready(function() {
                  $('tr').click(function() {  // select all <tr> elements and bind a click event
                    $(this).addClass('selected').siblings().removeClass('selected');  // add "selected" class to the clicked row and remove from other rows
                  });
                });
              </script>  
    </body>
</html>