{% extends "worldapp/layout.html" %}
{% block title %}
World
{% endblock %}
{% block content %}
<div class="container-fluid p-2 bg-primary text-white text-center">
    <h3>Create New World</h3>
    <form action = "/world/" method="post">
        {% csrf_token %}
        {{ new_world_form }}
        <input type="submit" name="create_new_world" value="Create New World">
    </form>
</div> 
<div class="container-fluid p-2 bg-primary text-white text-center">
    <h3>Worlds</h3>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th># Lines</th>
            <th># Errors</th>
            <th>Errors</th>
            <th>Script</th>
        </thead>
        <tbody>
            {% for world in data %}
                {% if world.iid == 1 %} 
                <tr class="table-active" world_id="{{ world.iid }}">
                {% else %}
                <tr world_id="{{ world.iid }}">
                {% endif %}
                    <td>{{ world.iid }}</td>
                    <td>{{ world.sname }}</td>
                    <td>{{ world.numlines }}</td>
                    <td>{{ world.numerrors }}</td>
                    <td><button class="show-errors-btn">Show</button></td>
                    <td><button>Load</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id = "id_selected_div" class="container-fluid p-2 bg-primary text-white text-center">
<h3>Selected World</h3>
<label id = "id_selected_text"></label>
<table class="table">
    <tr><td>
    <form action = "/world/" method="get">
        {% csrf_token %}
        <input type="submit" name="download_script" value="Download Script">
        <input type="submit" name="show_errors" value="Show Errors">
        <input type="hidden" id="selected_world_id" name="selected_world_id_get"  value="" />
    </form>    
</td><td>
    <form action = "/world/" method="post"
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        <input type="file" name="scriptfile">
        <input type="submit" name="upload_script" value="Upload Script">
        <input type="hidden" id="selected_world_id" name="selected_world_id"  value="" />
    </form>
</td>
</td><td>
    <form action = "/world/" method="post">
        {% csrf_token %}
        <input type="submit" name="play_game" value="Play">
        <input type="hidden" id="selected_world_id_play" name="selected_world_id_play"  value="" />
    </form>
</td>
</tr>
</table>
</div> 


<!-- <div class="container-fluid p-2 bg-primary text-white text-center">
    <h3>Play</h3>
    <form action = "/world/" method="post"
    >
        {% csrf_token %}
        <input type="hidden" id="play_world_id" name="play_world_id"  value="" />
        <button type="submit">Play</button>
    </form>
</div>  -->
<div id="world_dynamic" class="container-fluid p-2 bg-primary text-white text-center">

</div>   
<script>
    $(document).ready(function() {
      $('tr').click(function() {  // select all <tr> elements and bind a click event
        $(this).addClass('table-active').siblings().removeClass('table-active');  // add "selected" class to the clicked row and remove from other rows
        id = $(this).get(0).attributes['world_id']
        console.log(id.value)
        $("#selected_world_id").val(id.value)
        $("#selected_world_id_get").val(id.value)
        $("#selected_world_id_play").val(id.value)
        console.log($("#selected_world_id").get(0).attributes['name'])
        console.log($("#selected_world_id").get(0).attributes['value'])
        $("#id_selected_text").text(id.value)
        $("#id_selected_div").show()

      });
      $("#id_selected_div").hide();

      $('.show-errors-btn').click(function() {
        console.log('show errors button');
        var id = $(this).parent().parent().get(0).attributes['world_id']
        id = $(this).closest('tr').get(0).attributes['world_id']
        var uri = 'http://127.0.0.1:8000/api/v1/entities/errors/' + id.value
        console.log(uri)


   /*      fetch(uri)
        .then(response => response.json())
        .then(data => {
        // Do something with the data returned from the API
        console.log(data);
        })
        .catch(error => {
        // Handle any errors that occur
        console.error(error);
        });  */  
        // try AJAX
        surl = "{% url /world_dynamic %}"
        console.log(surl)
        console.log("try ajax")
        $.ajax({
            url: surl, //'http://127.0.0.1:5000/world_dynamic/' + id.value + '/errors',
            success: function(data){
                console.log(data);
                console.log(data.message);
                $('#world_dynamic').html(data);
            },
            error: function(xhr,status,error){
                console.log(xhr.responseText)
            }
        })
        console.log('done trying')

      });
    });
</script>  
{% endblock %}