
{% extends "bootstrap/base.html" %}

{% block title %}Title is in tab{% endblock %}  

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul> 
</div>
<!--         <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Flaskr</a>
    {% if g.user %}
      <li class="nav-item active"><span>{{ g.user['username'] }}</span>
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %} -->

{% endblock %}

<!-- {% block styles -%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">

{% endblock %} -->

<!-- {% block content %}
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% endblock %} -->
