{% extends 'base1.html' %}

{% block header %}
  <h1>{% block title %}Play{% endblock %}</h1>

{% endblock %}


  
{% block content %}
<div id="status-pane">
  <h3>{{data.name}} --- {{data.location}}</h3>
</div>
<div class="container col-12" id="command-pane">
  <div class="row">
    <div class="col-9">
      <div>
      {% for choice in data.choices %}
        <button class="btn btn-primary">{{choice[1]}}</button>
      {% endfor %}
      </div>
      <div>
        <it>
          {{data.text}}
 
        </it>
      </div>
    </div>
    <div class="col-3">
      <h4>Items</h4>
      {% for item in data.oitems %}
        <li class="myitem" data-description=" {{item[1]}} ">{{item[0]}}</li>
      {% endfor %}

    </div>
  </div>

</div>


{% endblock %}
 
{% block scripts %}
{{super()}}
<script>
    $(document).ready(function() {
    $('.myitem').on('click', function() {
      var id = $(this).data('description');
      console.log("Item clicked with ID: " + id);
      alert(id);

      // Your script logic here
    });
  });
</script>
{% endblock %}
