{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Worlds{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('world.create') }}">New</a>
  {% endif %}
	<script>
		$(function() {
			// Handler for selecting a row in the table
			$("table tbody tr").click(function() {
				// Remove the selected class from all rows
				$("table tbody tr").removeClass("selected");
				// Add the selected class to the clicked row
				$(this).addClass("selected");
				// Get the description of the selected row
				var description = $(this).find(".description").text();
				// Set the description in the bottom pane
				$("#description").text(description);
				// Get the name of the selected row
				var name = $(this).find(".name").text();
				// Set the name in the bottom pane
				$("#name").text(name);
			});

			// Handler for the Upload button
			$("#upload").click(function() {
        alert("Upload button clicked");
				// TODO: Implement upload functionality
				
			});

			// Handler for the Download button
			$("#download").click(function() {
				// TODO: Implement download functionality
				alert("Download button clicked");
			});

			// Handler for the Play button
			$("#play").click(function() {
				// TODO: Implement play functionality
				alert("Play button clicked");
			});
      $('#mytable').on('click', 'tbody tr', function(event) {
        $(this).addClass('table-danger').siblings().removeClass('table-danger');
      });
      

		});
	</script>  

{% endblock %}

{% block content %}
<div id="table-pane">
  <table id="mytable" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tags</th>
        <th>Description</th>
        <th>Number of Lines</th>
        <th>Number of Errors</th>
      </tr>
    </thead>
    <tbody>
      {% for world in worlds %}      
      <tr class="table-danger">
        <td>{{world.id}}</td>
        <td class="name">{{world.name}}</td>
        <td>{{world.tags}}</td>
        <td class="description">{{world.description}}</td>
        <td>{{world.numlines}}</td>
        <td>{{world.numerrors}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>



  <div id="description-pane">
		<p id="name"></p>
		<p id="description"></p>
    <label id="selected_world">Selected World</label>
		<button id="upload">Upload</button>
		<button id="download">Download</button>
		<button id="play">Play</button>
	</div>
  <div id="create-pane">
    <form method="post">
      <label for="name">World Name</label>
      <input name="name" id="name" value="{{ request.form['name'] }}" required>
      <label for="description">Description</label>
      <textarea name="description" id="description" required>{{ request.form['description'] }}</textarea>
      <input type="submit" value="Create">
    </form>
  </div>
  <div id="upload-to-selected">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>    
  </div>
{% endblock %}
